/* estilos generales */

* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: black;
    color: white;
    font-family: 'Alfa Slab One', cursive;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
} */

header {
    background-color: black;
    border-bottom: 1px solid grey;
    position: sticky;
    top: 0px;
}

.titulo {
    text-align: center;
    color: #20b544;
    

}

.menu-nav {
    text-align: center;
}

ul li a {
    color: #20b544;
    text-decoration: none;
}
ul li {
    list-style: none;
    font-size: 1.4rem;
    font-weight: bold;
    display: inline;
    margin: 0px 10px;
}

footer {
    border-top: 1px solid grey;
    padding: 30px;
    text-align: center;
}

footer ul {
    display: flex;
    justify-content: center;
    color: #20b544;
}


/* index */

.article-info {
    padding: 30px;
    display: flex;
    align-items: center;
}

.article-info p {
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 20px;
}

.video-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

/* nosotros */
.nosotros-main {
    height: 75vh;
}
.nosotros-titulo {
    color: aqua;
    font-size: 50px;
}
.nosotros-container {
    display: flex;
    align-items: center;

}
.nosotros-container p {
    font-size: 1.3rem;
    padding: 0px 20px;
}



/* contacto */

/* .contacto-fondo {
    background-image: url(../img/WhatsApp\ Image\ 2022-11-13\ at\ 11.10.07\ AM.jpeg);
    background-repeat: no-repeat;
    background-position: center;
} */
.main-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sub-tittle{
    color: #20b544;
    margin: 30px;
}
.form-container {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
    padding: 15px;
}
.form-container--fieldset {
    padding: 20px;
    background: grey;
    color: #20b544;
    border: 1px solid #20b544;
    border-radius: 5px;
    font-size: 1.3rem;
}
.sub-tittle {
    color: #20b544;
    margin: 30px;
}

/* productos */
.productos-container img {
    width: 300px;
    height: 300px;
}

/* galeria */
.productos-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}
.productos-container img {
    width: 350px;
    height: 350px;
}

/* SIEMPRE AL FINAL LOS MEDIA QUERIES */
/* trabajando desde escritorio, el media querie que se usa es max-width */
/* SI TRABAJO DESDE ESCRITORIO, LOS MEDIA QUERIES VAN DE MAYOR A MENOR, SIENDO LA MEDIDA MAS PEQUENA LA QUE SE VA A ENCONTRAR AL FINAL DE TODO */

@media only screen and (max-width:768px) {
}


@media only screen and (max-width:576px) {
/* estilos generales */

.header {
    flex-direction: column;
}

/*index*/
.video-container {
    flex-direction: column;
}

}

